<main id="app">
    <div>
        <button class="decide_number actived"> Read comic </button>
    </div>
    <article class="panel">
        <h1 class="title"></h1>
        <img class="comic" src="" alt="" />
        <p class="alt"></p>
    </article>
</main>

<style>
.hide
{
    display: none;
}

main
{
    max-width: 960px;
    margin: 1rem auto;
}

button.decide_number
{
    display: block;
    margin: 0 auto;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
}
.actived
{
    background: #87e0fd;
    background: linear-gradient(to bottom, #87e0fd 0%, #05abe0 100%);
}
.inactived
{
    background: rgb(224,243,250);
    background: linear-gradient(to bottom, rgba(224,243,250,1) 0%, rgba(182,223,253,1) 100%);
}

.panel .title,
.panel .alt
{
    text-align: center;
}

.panel .comic
{
    display: block;
    margin: 1rem auto 1rem auto;
}
</style>

<script>
$( document ).ready(()=>
{
    let maxnum = $.ajax({ url: "/api/v1/xkcd" });
    maxnum.then((r)=>
    {
        let get_maxnum_action = () =>
        {
            let response = r.response.body;
            let id = parseInt( Math.random() * response.num, 10 );
            return id;
        };
        let dom_opreation = ({ loading, data }) =>
        {
            let title = $(".title");
            let comic = $(".comic");
            let decide_number = $(".decide_number");
            let btn_text = "Loading...";
            let title_text = "";
            let alt_text = "";
            if( loading === true )
            {
                comic.prop("src","");
                comic.prop("alt","");
                comic.prop("title","");
            }
            else
            {
                btn_text = "Read another comic";
                title_text = data.safe_title;
                alt_text = data.alt;
                comic.prop("src" , data.img);
                comic.prop("alt" , data.transcript);
                comic.prop("title" , data.alt);
            }
            title.text( title_text );
            $(".alt").text( alt_text );
            $(".panel").toggleClass("hide");
            decide_number.text(btn_text);
            decide_number.toggleClass("actived");
            decide_number.toggleClass("inactived");
            decide_number.prop("disabled", loading);
        };
        let request_comic = () =>
        {
            let id = get_maxnum_action();
            let req = $.ajax({ url: `/api/v1/xkcd/${id}` });
            dom_opreation({ loading: true, data: {} });
            req.then( (r) => request_comic_action(r));
        };
        let request_comic_action = (r) =>
        {
            dom_opreation({ loading:false, data:r.response });
        };
        $(".decide_number").click(()=>request_comic());
    });
});
</script>