<div id="app">
    <button class="decide_number"> Read comic </button>
    <div class="hide panel">
        <h1 class="title"></h1>
        <img class="comic" src="#" alt="#" />
        <p class="alt"></p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$( document ).ready(()=>
{
    let maxnum = $.ajax({ url: "/api/v1/xkcd" });
    maxnum.then((r)=>
    {
        let get_maxnum_action = () =>
        {
            let response = r.response.body;
            let id = parseInt( Math.random() * response.num, 10 );
            return id;
        };
        let dom_opreation = ({ loading, data }) =>
        {
            let title = $(".title");
            let comic = $(".comic");
            let btn_text = loading === true ? "Loading..." : "Read another comic";
            if( loading === true )
            {
                title.text("");
                comic.prop("src","");
                comic.prop("alt","");
                comic.prop("title","");
                $(".alt").text("");
                $(".panel").addClass("hide");
            }
            else
            {
                title.text(data.safe_title);
                comic.prop("src" , data.img);
                comic.prop("alt" , data.alt);
                comic.prop("title" , data.alt);
                $(".alt").text(data.alt);
                $(".panel").removeClass("hide");
            }
            $(".decide_number").text(btn_text);
            $(".decide_number").prop("disabled", loading);
        };
        let request_comic = () =>
        {
            let id = get_maxnum_action();
            let req = $.ajax({ url: `/api/v1/xkcd/${id}` });
            dom_opreation({ loading: true, data: {} });
            req.then( (r) => request_comic_action(r));
        };
        let request_comic_action = (r) =>
        {
            dom_opreation({ loading:false, data:r.response });
        };
        $(".decide_number").click(()=>request_comic());
    });
});
</script>