<!DOCTYPE html>
<html>
  <head>
    <title>xkcd-panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
